h1, h2 {
    color: cornflowerblue;
}
h1{
    font-size:xx-large;
    font-style: normal;
    font-weight: bolder;
}
#boutonValider{
    background-color: green;
    border-radius: 5px;
    margin: 20px;
    color: azure;
}
#boutonAnnuler{
    background-color: red;
    border-radius: 5px;
    margin: 20px;
    color: azure;
}
input{
    display: inline;
}
form{
    display: flex;
}
#buttonNouveauPatient{
    background-color: rgb(46, 43, 219);
    color: azure;
    border-radius: 10px;
}